--extra-index-url https://download.pytorch.org/whl/rocm6.0

# requirements (1).txt
torch==2.1.2+rocm6.0
safetensors==0.3.1
ffmpeg-python
gradio==3.48.0
python-dotenv==1.0.0
suno-bark @ git+https://github.com/rsxdalv/bark@0d91823ead3d87c317f12d01d325fca9408c669e#egg=suno-bark
vocos==0.1.0
tortoise-tts @ git+https://github.com/rsxdalv/tortoise-tts@e4711433b12bcd1086840649e1830ad5c3fa1a76#egg=tortoise-tts
beartype>=0.16.1
transformers==4.36.1
iso639-lang==2.2.3

# requirements_audiocraft_deps.txt
xformers==0.0.22
av
einops
flashy>=0.0.1
hydra-core>=1.1
hydra_colorlog
julius
num2words
numpy
sentencepiece
spacy>=3.6.1
huggingface_hub
tqdm
transformers>=4.31.0
demucs
librosa
gradio
torchmetrics
encodec
protobuf

# requirements_audiocraft_only.txt
audiocraft

# requirements_bark_hubert_quantizer.txt
fairseq @ https://github.com/Sharrnah/fairseq/releases/download/v0.12.4/fairseq-0.12.4-cp310-cp310-win_amd64.whl; sys_platform == 'win32'
bark_hubert_quantizer @ git+https://github.com/rsxdalv/bark-voice-cloning-HuBERT-quantizer@bark_hubert_quantizer#egg=bark_hubert_quantizer

# requirements_maha_tts.txt
maha-tts @ git+https://github.com/dubverse-ai/MahaTTS.git@e6680df225a99367e070c0090dd564bc74647e23

# requirements_rvc.txt
rvc_pkg @ git+https://github.com/rsxdalv/rvc_pkg#egg=rvc_pkg

# requirements_styletts2.txt
styletts2 @ git+https://github.com/rsxdalv/StyleTTS2@cc36a19610df42123230237a73e798d4fdd3dcb8#egg=styletts2

# requirements_vall_e.txt
valle-x @ git+https://github.com/rsxdalv/VALL-E-X@f423d779e2015c11526f037de48210576820ed3a#egg=valle-x

# requirements (2).txt
soundfile
numpy
torchvision
torchaudio
tokenizers
langid
wget
unidecode
pyopenjtalk-prebuilt
pypinyin
inflect
cn2an
jieba
eng_to_ipa
openai-whisper
matplotlib
gradio==3.41.2
nltk
sudachipy
sudachidict_core
vocos

# requirements (3).txt
annotated-types==0.6.0
audioread==3.0.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
decorator==5.1.1
einops==0.7.0
filelock==3.13.1
fsspec==2023.10.0
huggingface-hub==0.19.4
idna==3.4
inflect==7.0.0
Jinja2==3.1.2
joblib==1.3.2
lazy_loader==0.3
librosa==0.10.1
llvmlite==0.41.1
MarkupSafe==2.1.3
mpmath==1.3.0
msgpack==1.0.7
networkx==3.2.1
numba==0.58.1
numpy==1.26.2
packaging==23.2
platformdirs==4.0.0
pooch==1.8.0
pycparser==2.21
pydantic==2.5.1
pydantic_core==2.14.3
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
safetensors==0.4.0
scikit-learn==1.3.2
scipy==1.11.3
soundfile==0.12.1
soxr==0.3.7
sympy==1.12
threadpoolctl==3.2.0
tokenizers==0.15.0
torch==2.1.1
tqdm==4.66.1
transformers==4.35.2
typing_extensions==4.8.0
Unidecode==1.3.7
urllib3==2.1.0

# requirements (4).txt
audiolm-pytorch==1.1.4
fairseq
huggingface-hub
sentencepiece
transformers
encodec
soundfile; platform_system == "Windows"
sox; platform_system != "Windows"
